@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {


  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-3xl: 22px;
  --font-size-7xl: 26px;
  --font-size-lg: 18px;

  /* Colors */


  /* Gaps */
  --gap-3xs: 10px;

  /* Paddings */
  --padding-3xs: 10px;

  /* border radiuses */
  --br-8xs: 5px;
}

.btn1{

 
    background-color:#7895CB; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 270px;
    font-size: 16px;
    cursor: pointer;
    float: left;
  }



